<!DOCTYPE html>
<html>
<head>
    <title>Perfil del Alumno</title>
</head>
<body>
    <h1>Bienvenido, {{ alumno.nombre }}</h1>

    <h2>Información personal</h2>
    <ul>
        <li>Nombre completo: {{ alumno.nombre }}</li>
        <li>DNI: {{ alumno.dni }}</li>
        <li>Email: {{ alumno.email }}</li>
        <li>Fecha de nacimiento: {{ alumno.fecha_nacimiento }}</li>
    </ul>

    <h3>Ir a:</h3>
    <ul>
        <li><a href="/familia">Datos familiares del Alumno</a></li>
        <li><a href="/interes">Datos de interés del Alumno</a></li>
    </ul>

    <a href="/logout">Desloguearse</a>
</body>
</html>
