<!DOCTYPE html>
<html>
<head>
    <title>Datos Familiares</title>
</head>
<body>
    <h1>Datos familiares de {{ alumno.nombre }}</h1>

    <ul>
        <li>Nombre del padre: {{ alumno.padre }}</li>
        <li>Nombre de la madre: {{ alumno.madre }}</li>
        <li>Teléfono de contacto: {{ alumno.telefono_familiar }}</li>
        <li>Domicilio familiar: {{ alumno.domicilio }}</li>
    </ul>

    <a href="/perfil">Volver al perfil</a>
</body>
</html>
