
<!DOCTYPE html>
<html>
<head>
    <title>Datos de Interés</title>
</head>
<body>
    <h1>Datos de interés de {{ alumno.nombre }}</h1>

    <ul>
        <li>Materias favoritas: {{ alumno.materias_favoritas }}</li>
        <li>Actividades extracurriculares: {{ alumno.actividades }}</li>
        <li>Observaciones: {{ alumno.observaciones }}</li>
    </ul>

    <a href="/perfil">Volver al perfil</a>
</body>
</html>
