<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesi칩n</h1>
        <form method="post" action="/login">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" required>

            <label for="clave">Contrase침a:</label>
            <input type="password" name="clave" required>

            <input type="submit" value="Ingresar">
        </form>
    </div>
</body>
</html>

<!-- <section>
    <form action="@Url.Action("ValidarCuenta", "Home")" method = "post">
        Ingrese su email:
        <input type="text" placeholder="Usuario" name="Email">
        Ingrese su contrase침a:
        <input type="password" name="Contrase침a">
    </form>
<section> -->